<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">



    <link rel="icon" href="Favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title>Laravel</title>
    <style>
        body {
            background-color: #60a3bc;
        }

        /*            .card-body
                        {
            
                            background-color: #f39c12;
                        }*/
        .card-header {
            background-color: #c0392b;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
        <div class="container">
            <a class="navbar-brand" href="#">Admin portal</a>
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:4200/notice"><b>Add notice</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:4200/adminallnotice"><b>list of Notice</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:4200/addcourse"><b>Add course</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:4200/listOfCource"><b>List of course</b></a>
                    </li>
                    
                </ul>

            </div>
        </div>
    </nav>

    <main class="my-form">
        <div class="cotainer">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-header"><b>Notice</b></div>
                        <div class="card-body">
                            <form #f="ngForm" (ngSubmit)="onSubmit()">
                                <div class="form-group row">
                                    <label for="title" class="col-md-3 col-form-label text-md-right">Notice
                                        title</label>
                                    <div class="col-md-8">
                                        <input type="text" id="title" class="form-control" [(ngModel)]="titale" name="titale" >
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="description"
                                        class="col-md-3 col-form-label text-md-right">description</label>
                                    <div class="col-md-8">
                                        <input type="text" id="description" class="form-control" name="description"
                                        [(ngModel)]="description"  >
                                    </div>
                                </div>
                                <p>Open a PDF file <a href="../../assets/notice/{{a}}">Notice File</a>.</p>
                                <div class="form-group row">

                                    <div class="col-md-1"></div>
                                    <div class="col-md-10">
                                        <input type="file" id="file" class="form-control" name="file" (change)="selectImage($event)"   ngModel required
                                          #file="ngModel">
                                    </div>
                                </div>



                                




                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" name="submit" class="btn btn-primary">
                                        update notice
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>